<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Chọn số ghế</title>
  <link href="../css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>

  <title>Movie Review</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
  <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/chonsoghe.css">
</head>

<body class="bg-dark">
  <div id="site-content">
    <header class="site-header">
      <div class="container">
        <a href="/" id="branding" class="d-flex align-items-center">
          <img src="../assets/images/logo.png" alt="" class="logo">
          <div class="logo-copy">
            <h1 class="site-title">Cinema</h1>
            <small class="site-description">Hãng phim Việt</small>
          </div>
        </a> <!-- #branding -->

        <div class="main-navigation d-flex">
          <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
          <ul class="menu">
            <li class="menu-item"><a href="index.html">Quản lý lịch chiếu</a></li>
            <li class="menu-item"><a href="review.html">Xem báo cáo thống kê</a></li>
            <li class="menu-item"><a href="about.html">Đổi quà cho khách</a></li>
            <li class="menu-item current-menu-item"><a href="/tra-ve-xem-phim">Trả vé xem phim</a></li>
            <li class="menu-item"><a href="contact.html">Bán vé xem phim</a></li>
          </ul> <!-- .menu -->

          <div class="profile px-3 py-2 menu-item" style="cursor: pointer;">
            <img src="../assets/images/user.png" alt="" width="20" height="20">
            <span class="ps-1 taikhoan">
            </span>
          </div>
          <a class="px-3 menu-item dangxuat" href="/dang-nhap">Đăng xuất</a>
        </div>
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation"></div>
  </div>
  </header>
  <main class="main-content bg-dark">
    <div class="container">
      <h1 class="mb-4">Chọn ghế trả vé</h1>
      <h3 class="text-center py-2 bg-primary text-light mb-5">Màn hình</h3>
      <div class="table-cinema">
        <table class="table">
          <tbody class="table-body">
            <tr>
              <th scope="row">A</th>
              <% for (let i=0; i <8; i++ ) { %>
                <% var gheDat=listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].trangthai =="Đã đặt"
                  ?
                  "selected":"empty" %>
                  <% var gheChon=hang=="A" &&cot==(i+1)?"picking":""%>
                    <td class="A<%= listGhe[i].cot +" " + gheDat %> " id="<%=gheChon%>">
                      <span class="<%= listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].id %> ">
                        <%= i+1 %>
                      </span>
                    </td>
                    <% } %>
            </tr>
            <tr>
              <th scope="row">B</th>
              <% for (let i=8; i <16; i++ ) { %>
                <% var gheDat=listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].trangthai =="Đã đặt"
                  ?
                  "selected":"empty" %>
                  <% var gheChon=hang=="B" &&cot==(i-8+1)?"picking":""%>
                    <td class="B<%= i-8+1 +" " +gheDat%> " id="<%=gheChon%>">
                      <span class="<%= listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].id %> ">
                        <%= i-8+1 %>
                      </span>
                    </td>
                    <% } %>
            </tr>
            <tr>
              <th scope="row">C</th>
              <% for (let i=16; i <24; i++ ) { %>
                <% var gheDat=listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].trangthai =="Đã đặt"
                  ?
                  "selected":"empty" %>
                  <% var gheChon=hang=="C" &&cot==(i-16+1)?"picking":""%>
                    <td class="C<%= listGhe[i].cot +" " + gheDat %> " id="<%=gheChon%>">
                      <span class="<%= listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].id %> ">
                        <%= i-16+1 %>
                      </span>
                    </td>
                    <% } %>
            </tr>
            <tr>
              <th scope="row">D</th>
              <% for (let i=24; i <32; i++ ) { %>
                <% var gheDat=listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].trangthai =="Đã đặt"
                  ?
                  "selected":"empty" %>
                  <% var gheChon=hang=="D" &&cot==(i-24+1)?"picking":""%>
                    <td class="D<%= listGhe[i].cot + " " + gheDat %> " id="<%=gheChon%>">
                      <span class="<%= listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].id %> ">
                        <%= i-24+1 %>
                      </span>
                    </td>
                    <% } %>
            </tr>
            <tr>
              <th scope="row">E</th>
              <% for (let i=32; i <40; i++ ) { %>
                <% var gheDat=listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].trangthai =="Đã đặt"
                  ?
                  "selected":"empty" %>
                  <% var gheChon=hang=="E" &&cot==(i-32+1)?"picking":""%>
                    <td class="E<%= listGhe[i].cot +" " + gheDat %> " id="<%=gheChon%>">
                      <span class="<%= listGhe[i].listGhedat.filter(item=>item.lichchieu.id==lichchieuId)[0].id %> ">
                        <%= i-32+1 %>
                      </span>
                    </td>
                    <% } %>
            </tr>
          </tbody>
        </table>

        <div class="note d-flex mt-5 justify-content-center">
          <div class="note__item d-flex me-5">
            <span class="me-2 empty"></span><button class="border">Ghế trống</button>
          </div>
          <div class="note__item d-flex me-5">
            <span class="me-2 note-empty"></span><button class="border">Ghế đã đặt</button>
          </div>
          <div class="note__item d-flex me-5">
            <span class="me-2 picking"></span><button class="border">Ghế đang chọn</button>
          </div>
          <button <%=hang?"": "disabled" %> class="border btn btn-primary btn-trave px-3 text-light">
            Trả vé
          </button>
        </div>
      </div>
    </div>

  </main>
  <footer class="site-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe
              cupiditate</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Recent Review</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Help Center</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Join Us</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Social Media</h3>
            <ul class="no-bullet">
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Google+</li>
              <li>Pinterest</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Newsletter</h3>
            <form action="#" class="subscribe-form">
              <input type="text" placeholder="Email Address">
            </form>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
    </div> <!-- .container -->

  </footer>
  </div>
  <script src="../js/chonsoghe.js"></script>
</body>

</html>