<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Đăng ký</title>
  <link href="../css/styles.css" rel="stylesheet" />
  <link href="../css/login.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>
</head>

<body>
  <main class="px-3 py-5">
    <h3 class="text-center">Đăng ký</h3>
    <div class="login-wrapper">
      <form method="post" action="/dang-ky">
        <div class="form-group pb-3">
          <label for="inputTen">Họ tên</label> <span> *</span>
          <input id="inputTen" type="text" class="form-control" name="hoten" placeholder="Họ tên">
        </div>
        <div class="form-group pb-3">
          <label for="inputEmail">Email</label> <span> *</span>
          <input id="inputEmail" type="text" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group pb-3">
          <label for="inputSDT">Số diện thoại</label> <span> *</span>
          <input id="inputSDT" type="text" class="form-control" name="sodienthoai" placeholder="Số diện thoại">
        </div>
        <div class="form-group pb-3">
          <label for="inputMatkhau">Mật khẩu</label> <span> *</span>
          <input id="inputMatkhau" type="password" class="form-control" placeholder="Mật khẩu" name="matkhau">
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-5" (click)="onSubmit()">Đăng ký</button>
      </form>
    </div>
  </main>
</body>

</html>