<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Đăng nhập</title>
  <link href="../css/styles.css" rel="stylesheet" />
  <link href="../css/login.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>
</head>

<body>
  <main class="px-3 py-5">
    <h3 class="text-center ">Đăng nhập</h3>
    <div class="login-wrapper">
      <form method="post" action="/dang-nhap">
        <div class="form-group pb-3">
          <label for="inputTaikhoan">Tài khoản</label> <span> *</span>
          <input id="inputTaikhoan" type="text" class="form-control" name="taikhoan" placeholder="Tài khoản">
        </div>
        <div class="form-group pb-3">
          <label for="inputMatkhau">Mật khẩu</label> <span> *</span>
          <input id="inputMatkhau" type="password" class="form-control" placeholder="Mật khẩu" name="matkhau">
        </div>
        <p class="text-danger">
          <%= messageErr %>
        </p>
        <p>
          Bạn không có tài khoản? |
          <a class="text-primary" href="#"> Đăng ký</a>
        </p>
        <button type="submit" class="btn btn-primary w-100 mb-5" id="btnSubmit" (click)="onSubmit()">Đăng nhập</button>
      </form>
    </div>
  </main>
  <script src="../js/dangnhap.js"></script>
</body>

</html>