<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Hóa đơn phạt</title>
  <link href="../css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
  <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/hoadonphat.css">
</head>

<body class="bg-dark">
  <div id="site-content">
    <header class="site-header">
      <div class="container">
        <a href="/" id="branding" class="d-flex align-items-center">
          <img src="../assets/images/logo.png" alt="" class="logo">
          <div class="logo-copy">
            <h1 class="site-title">Cinema</h1>
            <small class="site-description">Hãng phim Việt</small>
          </div>
        </a> <!-- #branding -->

        <div class="main-navigation d-flex">
          <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
          <ul class="menu">
            <li class="menu-item"><a href="index.html">Quản lý lịch chiếu</a></li>
            <li class="menu-item"><a href="review.html">Xem báo cáo thống kê</a></li>
            <li class="menu-item"><a href="about.html">Đổi quà cho khách</a></li>
            <li class="menu-item current-menu-item"><a href="/tra-ve-xem-phim">Trả vé xem phim</a></li>
            <li class="menu-item"><a href="contact.html">Bán vé xem phim</a></li>
          </ul> <!-- .menu -->

          <div class="profile px-3 py-2 menu-item" style="cursor: pointer;">
            <img src="../assets/images/user.png" alt="" width="20" height="20">
            <span class="ps-1 taikhoan">
            </span>
          </div>
          <a class="px-3 menu-item dangxuat" href="/dang-nhap">Đăng xuất</a>
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
      </div>
    </header>

    <form method="post" action="/tra-ve-xem-phim/hoa-don-phat">
      <main class="main-content bg-dark">
        <div class="container">
          <h1 class="mb-4">Hóa đơn phạt</h1>
          <div class="bill d-flex flex-column
         justify-content-center align-items-center">
            <h3 class="mb-4">Thông tin hóa đơn phạt</h3>
            <div class="w-50 px-4 py-5 border bg-light rounded">
              <div class="d-flex justify-content-between">
                <p class="me-5">Thời gian:</p>
                <span class="thoigian-trave">
                  17:00 Ngày 17/11/2021
                </span>
                <span class="d-none giave">
                  <%= ve.giave %>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Tên phim:</p>
                <span>
                  <%= ve.ghedat.lichchieu.phim.tenphim %>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Phòng chiếu:</p>
                <span>
                  <%= ve.ghedat.lichchieu.phongchieu.tenphong %>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Ghế:</p>
                <span>
                  <%= ve.ghedat.ghe.hang + ve.ghedat.ghe.cot %>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Số lượng vé trả:</p> <span>01</span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Thời gian hoàn vè:</p>
                <span class="tongthoigian">
                  <%= tongthoigian %>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Tổng tiền hóa đơn:</p>
                <span class="tienhoadon">
                  <%= ve.hoadon.tongtien %>
                </span>
              </div>
              <div class="d-flex justify-content-between">
                <p class="me-5">Tiền phạt:</p>
                <span class="tienphat">
                  <%= tienphat %>
                </span>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <p class="me-5">Tiền hoàn trả:</p> <span class="tienhoantra">90,000</span>
              </div>
            </div>

            <button class="border btn btn-primary px-3 my-5" data-toggle="modal" type="submit"
              data-target="#exampleModal">
              In hóa đơn phạt</a>
            </button>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Xác thực in hóa đơn phạt</h2>
                <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                Bạn có chắc muốn in hóa đơn phạt không ?
              </div>
              <div class="modal-footer">
                <!-- <input value="36000" name="tienphat" class="d-none tienphatPost"> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="submit" class="btn btn-primary inhoadon" data-dismiss="modal">
                  Lưu
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-success success" role="alert">
          <i class="fa fa-check-circle me-2" aria-hidden="true"></i>In hóa đơn phạt thành công
        </div>
      </main>
    </form>


    <footer class="site-footer bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe
                cupiditate</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Recent Review</h3>
              <ul class="no-bullet">
                <li>Lorem ipsum dolor</li>
                <li>Sit amet consecture</li>
                <li>Dolorem respequem</li>
                <li>Invenore veritae</li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Help Center</h3>
              <ul class="no-bullet">
                <li>Lorem ipsum dolor</li>
                <li>Sit amet consecture</li>
                <li>Dolorem respequem</li>
                <li>Invenore veritae</li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Join Us</h3>
              <ul class="no-bullet">
                <li>Lorem ipsum dolor</li>
                <li>Sit amet consecture</li>
                <li>Dolorem respequem</li>
                <li>Invenore veritae</li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Social Media</h3>
              <ul class="no-bullet">
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Google+</li>
                <li>Pinterest</li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Newsletter</h3>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
      </div> <!-- .container -->

    </footer>

  </div>
  <script src="../js/hoadonphat.js"></script>
</body>

</html>