<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <title>Trang chủ</title>
  <link href="../css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>

  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
  <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <div id="site-content">
    <header class="site-header">
      <div class="container">
        <a href="/" id="branding" class="d-flex align-items-center">
          <img src="../assets/images/logo.png" alt="" class="logo">
          <div class="logo-copy">
            <h1 class="site-title">Cinema</h1>
            <small class="site-description">Hãng phim Việt</small>
          </div>
        </a> <!-- #branding -->

        <div class="main-navigation d-flex">
          <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
          <ul class="menu">
            <li class="menu-item"><a href="index.html">Quản lý lịch chiếu</a></li>
            <li class="menu-item"><a href="review.html">Xem báo cáo thống kê</a></li>
            <li class="menu-item"><a href="about.html">Đổi quà cho khách</a></li>
            <li class="menu-item"><a href="./tra-ve-xem-phim">Trả vé xem phim</a></li>
            <li class="menu-item"><a href="contact.html">Bán vé xem phim</a></li>
          </ul> 

          <div class="profile px-3 py-2 menu-item" style="cursor: pointer;">
            <img src="./assets/images/user.png" alt="" width="20" height="20">
            <span class="ps-1 taikhoan">
              <%= taikhoan?taikhoan:"" %>
            </span>
          </div>
          <a class="px-3 menu-item dangxuat" href="./dang-nhap">Đăng xuất</a>
        </div>
        <div class="mobile-navigation"></div>
      </div>
    </header>
    <main class="main-content">
      <div class="container">
        <div class="page">
          <div class="row">
            <div class="col-md-9">
              <div class="slider">
                <ul class="slides">
                  <li><a href="#"><img src="../assets/dummy/slide-1.jpg" alt="Slide 1"></a></li>
                  <li><a href="#"><img src="../assets/dummy/slide-2.jpg" alt="Slide 2"></a></li>
                  <li><a href="#"><img src="../assets/dummy/slide-3.jpg" alt="Slide 3"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-sm-6 col-md-12">
                  <div class="latest-movie">
                    <a href="#"><img src="../assets/dummy/thumb-1.jpg" alt="Movie 1"></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12">
                  <div class="latest-movie">
                    <a href="#"><img src="../assets/dummy/thumb-2.jpg" alt="Movie 2"></a>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- .row -->
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="latest-movie">
                <a href="#"><img src="../assets/dummy/thumb-3.jpg" alt="Movie 3"></a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="latest-movie">
                <a href="#"><img src="../assets/dummy/thumb-4.jpg" alt="Movie 4"></a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="latest-movie">
                <a href="#"><img src="../assets/dummy/thumb-5.jpg" alt="Movie 5"></a>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="latest-movie">
                <a href="#"><img src="../assets/dummy/thumb-6.jpg" alt="Movie 6"></a>
              </div>
            </div>
          </div> <!-- .row -->

          <div class="row">
            <div class="col-md-4">
              <h2 class="section-title">December premiere</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <ul class="movie-schedule">
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
              </ul> <!-- .movie-schedule -->
            </div>
            <div class="col-md-4">
              <h2 class="section-title">November premiere</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <ul class="movie-schedule">
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
              </ul> <!-- .movie-schedule -->
            </div>
            <div class="col-md-4">
              <h2 class="section-title">October premiere</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <ul class="movie-schedule">
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
                <li>
                  <div class="date">16/12</div>
                  <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                </li>
              </ul> <!-- .movie-schedule -->
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </main>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe
                cupiditate</p>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Recent Review</h3>
              <ul class="no-bullet">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Sit amet consecture</a></li>
                <li><a href="#">Dolorem respequem</a></li>
                <li><a href="#">Invenore veritae</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Help Center</h3>
              <ul class="no-bullet">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Sit amet consecture</a></li>
                <li><a href="#">Dolorem respequem</a></li>
                <li><a href="#">Invenore veritae</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Join Us</h3>
              <ul class="no-bullet">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Sit amet consecture</a></li>
                <li><a href="#">Dolorem respequem</a></li>
                <li><a href="#">Invenore veritae</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Social Media</h3>
              <ul class="no-bullet">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="widget">
              <h3 class="widget-title">Newsletter</h3>
              <form action="#" class="subscribe-form">
                <input type="text" placeholder="Email Address">
              </form>
            </div>
          </div>
        </div> <!-- .row -->

        <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
      </div> <!-- .container -->
    </footer>
  </div>
  <script src="../js/Trangchu/jquery-1.11.1.min.js"></script>
  <script src="../js/Trangchu/plugins.js"></script>
  <script src="../js/Trangchu/app.js"></script>
  <script src="../js/trangchu.js"></script>


</body>

</html>