<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Trả vé xem phim</title>
  <link href="../css/styles.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

  <title>Movie Review</title>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
  <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/travexemphim.css">
</head>

<body class="bg-dark">
  <div id="site-content">
    <header class="site-header">
      <div class="container">
        <a href="/" id="branding" class="d-flex align-items-center">
          <img src="../assets/images/logo.png" alt="" class="logo">
          <div class="logo-copy">
            <h1 class="site-title">Cinema</h1>
            <small class="site-description">Hãng phim Việt</small>
          </div>
        </a> <!-- #branding -->

        <div class="main-navigation d-flex">
          <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
          <ul class="menu">
            <li class="menu-item"><a href="index.html">Quản lý lịch chiếu</a></li>
            <li class="menu-item"><a href="review.html">Xem báo cáo thống kê</a></li>
            <li class="menu-item"><a href="about.html">Đổi quà cho khách</a></li>
            <li class="menu-item current-menu-item"><a href="./tra-ve-xem-phim">Trả vé xem phim</a></li>
            <li class="menu-item"><a href="contact.html">Bán vé xem phim</a></li>
          </ul> <!-- .menu -->

          <div class="profile px-3 py-2 menu-item" style="cursor: pointer;">
            <img src="../assets/images/user.png" alt="" width="20" height="20">
            <span class="ps-1 taikhoan">
            </span>
          </div>
          <a class="px-3 menu-item dangxuat" href="./dang-nhap">Đăng xuất</a>
        </div>
      </div> <!-- .main-navigation -->

      <div class="mobile-navigation"></div>
  </div>
  </header>
  <main class="main-content bg-dark">
    <div class="container">
      <h1>Trả vé xem phim</h1>
      <div class="page">
        <div class=" d-flex">
          <select class="form-select w-25 me-3 select-phim" va ons aria-label="Default select example">
            <option selected disabled hidden>Chọn tên phim</option>
            <% for (let i=0; i <listPhim.length; i++ ) { %>
              <option value=<%=i+1 %>
                <%= phimId==listPhim[i].id ?"selected": "" %>>
                  <%= listPhim[i].tenphim %>
              </option>
              <% } %>
          </select>
          <select class="form-select w-25 select-phong-chieu" aria-label="Default select example">
            <option selected disabled hidden>Chọn phòng chiếu</option>
            <% for (let i=0; i <listPhongchieu.length; i++ ) { %>
              <option value=<%=i+1 %>
                <%= phongchieuId==listPhongchieu[i].id ?"selected": "" %> >
                  <%= listPhongchieu[i].tenphong %>
              </option>
              <% } %>
          </select>
        </div>

        <h2 class="mt-3">Bảng lịch chiếu</h2>

        <% if(listLichchieu.length==0) { %>
          <h3 class="text-center">Danh sách lịch chiếu trống</h3>
          <%} else { %>
            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên phim</th>
                  <th scope="col">Phòng chiếu</th>
                  <th scope="col">Thể loại</th>
                  <th scope="col">Lịch chiếu</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <% for (let i=0; i <listLichchieu.length; i++ ) { %>
                  <tr>
                    <th scope="row">
                      <%=i+1 %>
                    </th>
                    <td>
                      <%= listLichchieu[i].phim.tenphim %>
                    </td>
                    <td>
                      <%= listLichchieu[i].phongchieu.tenphong %>
                    </td>
                    <td>
                      <%= listLichchieu[i].phim.loaiphim %>
                    </td>
                    <td class="ngaygiochieu">
                      <%= listLichchieu[i].ngaygiochieu %>
                    </td>
                    <td><a href=<%="/tra-ve-xem-phim/chon-so-ghe?lichchieuId=" 
                      + listLichchieu[i].id%><%="&phongchieuId=" +listLichchieu[i].phongchieu.id %> >
                        Chọn ghế trả vé</a>
                    </td>

                  </tr>
                  <% } %>
              </tbody>
            </table>
            <% } %>
      </div>

  </main>
  <footer class="site-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe
              cupiditate</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Recent Review</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Help Center</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Join Us</h3>
            <ul class="no-bullet">
              <li>Lorem ipsum dolor</li>
              <li>Sit amet consecture</li>
              <li>Dolorem respequem</li>
              <li>Invenore veritae</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Social Media</h3>
            <ul class="no-bullet">
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Google+</li>
              <li>Pinterest</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <div class="widget">
            <h3 class="widget-title">Newsletter</h3>
            <form action="#" class="subscribe-form">
              <input type="text" placeholder="Email Address">
            </form>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
    </div> <!-- .container -->

  </footer>
  </div>
  <script src="../js/travexemphim.js"></script>
</body>

</html>