.table-cinema{
    margin-top: 100px;
}

tbody tr td{
    text-align: center;
    cursor: pointer;
    border: 1px solid #585757;
    background-color: #a8a8a8 !important;
    color:#ffffff
}
tbody tr td:hover{
    background-color: #585858 !important;
}

.note span{
    width: 100px;
    display: inline-block;
}

.empty{
    background-color: #a8a8a8;
    pointer-events: none;
    cursor: not-allowed;
}

.note .note-empty,.selected{
    background-color: #d88100 !important;
}

.picking, #picking{
    background-color: #782828 !important;
}
.note .note__item button:hover{
    background-color: #c7c7c7;
}