body{
  display: flex;
  justify-content: center;
  position: relative;
}

body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Sala_de_cine.jpg/800px-Sala_de_cine.jpg");
  width: 100%;
  min-height: 100%;
  opacity : 0.6;
  z-index: -1;
}
main{
  width: 500px;
  margin-top: 70px;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
}

a{
  cursor: pointer;
}

span{
  color: red;
  font-style: italic;
  font-weight: 300;
}
label{
  font-weight: bold;
}
