.nav li:hover {
    background-color: #9fb3eb;
    color: white;
}

.nav li {
    cursor: pointer;
}

.nav .nav-link {
    border: 1px solid #a5a5a5;
}


.nav .nav-link:hover {
    background-color: #b8b8b8;
}

thead tr th {
    padding: 20px 0 !important;
    /* text-align: center; */
}

tbody tr td {
    padding: 20px 0 !important;
    /* text-align: center; */
}
tbody tr a {
    color: blue;
}
